<h1>Welcome to our Agency directory!</h1>

<h2>Our shortlist <%= link_to "here", agencies_path %> </h2>

<p>Are you working at an agency? Is your agency not listed here? Please add it <%= link_to "here", new_agency_path %></p>


<!-- <form action="/agencies" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="name" placeholder="Name">
  <input type="text" name="address" placeholder="Address">
  <input type="submit">
</form>
 -->
