<%= render 'form', agency: @agency %>

<!-- <form action="/agencies" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="name">Name: </label>
  <input type="text" name="agency[name]" id="name">

  <label for="address">Address: </label>
  <input type="text" name="agency[address]" id="address">

  <input type="submit">
</form>

 -->
