<h1>Agency profile: <%= @agency.name %></h1>

<h2><%= @agency.address.to_s+', '+@agency.description.to_s %></h2>

<p><%= @agency.description %><p>

<%= link_to "Back to Long list", agencies_path %> </p>
